* {
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Header */
header {
  display: flex;
  height: 100px;
  width: 100%;
  z-index: 1;
  justify-content: center;
}

.logo {
  display: none;
}

#desktop-wrapper {
  position: fixed;
  display: flex;
  height: 100px;;
  width: 60%;
  margin: auto;
}

.logo-container, .lang-container, .nav-container {
  display: flex;
  flex: 1;
  align-self: center;
}

.nav-links {
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: center;
}

.nav-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

#about {
  margin: 0 50px;
}

.lang-container {
  justify-content: flex-end;
}

.langs {
  display: flex;
  list-style-type: none;
}

.langs li {
  margin-left: 30px;
}

.lang {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

#tablet-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
}

#logo-light {
  position: absolute;
  top: 25px;
  z-index: 1;
}

#logo-dark {
  position: absolute;
  top: 25px;
  opacity: 0;
  z-index: 1;
}

.burger {
  position: absolute;
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100px;
  width: 100px;
  right: 0;
  background-color: #000;
  cursor: pointer;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.burger span {
  width: 24px;
  height: 4px;
  background: #ffffff;
  transition: .2s;
  margin: 2.5px 0;
}

.menu-links {
  position: absolute;
  display: none;
  flex-flow: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu-links li {
  padding: 10px 0;
}

#tablet-wrapper.active .burger {
  background-color: #fff;
}

#tablet-wrapper.active .burger span {
  position: absolute;
  background: #000000;
  margin: 0;
}

/* Menu burger animation */
#tablet-wrapper.active .burger #one {
  transform: rotate(45deg);
}

#tablet-wrapper.active .burger #two {
  opacity: 0;
}

#tablet-wrapper.active .burger #three {
  transform: rotate(-45deg);
}

#tablet-wrapper.active .menu-links {
  display: flex;
}

#tablet-wrapper.active #logo-light {
  opacity: 0;
}

#tablet-wrapper.active #logo-dark {
  opacity: 1;
}

.menu-link {
  color: #000000;
  font-weight: 500;
  font-size: 36px;
  text-decoration: none;
}

/* Body */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #000000;
}

main {
  height: 100%;
  margin: auto;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #666;
}

#fade-left {
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, rgba(0,0,0,100), rgba(0,0,0,0));
  z-index: 100
}

#fade-right {
  position: fixed;
  top:0;
  right: 0;
  display: flex;
  height: 100%;
  width: 20%;
  background: linear-gradient(to left, rgba(0,0,0,100), rgba(0,0,0,0));
  z-index: 100
}

.gallery {
  overflow: hidden;
  display: grid;
  position: absolute;
  width: 100%;
  height: 50%;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  left: 0;
  top: 50%;
  margin-top: -15%;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1099px) {
  #desktop-wrapper {
    width: 70%;
  }
  #fade-left {
    width: 15%;
  }
  #fade-right {
    width: 15%;
  }
}

@media screen and (max-width:799px) {
  #desktop-wrapper {
    display: none;
  }
  #tablet-wrapper {
    display: flex;
  }
  .gallery {
    height: 100%;
    left: 0;
    top: 0;
    margin-top: 100px;
    overflow: visible;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  #fade-left {
    display: none;
  }
  #fade-right {
    display: none;
  }
}

@media screen and (max-width:899px) and (orientation: landscape) {
}
