* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration-line: none;
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.noselect {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P';
  background-color: #000;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 56px;
  background-color: #000;

  flex-grow: 0;
  order: 0;
}

.back {
  display: flex;
  cursor: pointer;
  height: 100%;
  flex: none;
  order: 0;
}

.back p {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  text-align: left;
  color: #aaa;
  margin: auto 1rem;
}

header ul {
  display: none;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
  order: 1;
  font-size: 0.9rem;
}

header ul li {
  cursor: pointer;
  color: #aaa;
  margin: 0 1rem 0 0;
}

header ul li:last-child {
  margin: 0;
}

header ul li.active {
  color: #fff;
}

.burger {
  display: flex;
  cursor: pointer;
  height: 100%;
  flex: none;
  order: 2;
}

.burger img {
  margin: auto 1rem;
}

.home {
  width: 100%;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  flex: 1;
  flex-grow: 1;
  /* background-color: red; */
}

#nazarFigure {
  height: auto;
  width: 100%;
  object-fit: contain;
  flex: 4;
  order: 0;
  /* background-color: blue; */
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  order: 1;
  align-self: stretch;
  margin-top: 2em;
  overflow: hidden;
  font-size: 1rem;
  /* background-color: magenta; */
}

#navigation a {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  flex: none;
  flex-grow: 0;
  margin-bottom: 1.7em;
  /* background-color: orange; */
}

#navigation a:last-child {
  margin-bottom: 0;
}

.credits {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: #222222;
  margin: 1rem 0;
  flex: none;
  /* background-color: yellow; */
}

.credits img {
  width: 1em;
  height: 1em;
  color: #777;
}

footer {
  width: 100%;
  max-width: 1024px;
  order: 2;
  flex-grow: 0;
}

/* About page */
#about {
  justify-content: flex-end;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  display: flex;
  vertical-align: middle;
}

/* Works page */
.works {
  margin-top: 64px;
  width: 100%;
  column-count: 1;
  max-width: 1024px;
  display: inline-block;
  flex-grow: 1;
}

.works img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* CV page */
#cv {
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: auto;
  max-width: 527px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#cv div {
  justify-content: center;
  display: flex;
}

#cv img {
  width: 100%;
  height: auto;
  max-height: 842px;
  max-width: 595px;
  margin-bottom: 8px;
}

#printer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: auto;
  min-width: 320px;
  min-height: 128px;
  max-width: 768px;
  max-height: 256px;
  z-index: 5;
}

@media screen and (max-width:319px) {
  header {
    height: 40px;
  }

  #nazarFigure {
    position: absolute;
    visibility: hidden;
  }

  #navigation {
    justify-content: center;
    margin: 0;
    font-size: 0.9rem;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .back p {
    font-size: 1rem;
  }

  header ul {
    display: flex;
    font-size: 1rem;
  }

  .burger {
    display: none;
  }

  #navigation {
    font-size: 1.25rem;
  }

  #navigation a {
    margin-bottom: 1.9em;
  }

  .credits {
    font-size: 0.9rem;
  }

  .works {
    margin-top: 64px;
    width: 100%;
    column-count: 2;
    max-width: 1024px;
    display: inline-block;
  }
}

@media screen and (min-width:1200px) {
  .back p {
    font-size: 1.1rem;
  }

  header ul {
    font-size: 1.1rem;
  }

  #navigation {
    font-size: 1.35rem;
  }

  #navigation a {
    margin-bottom: 2em;
  }

  .credits {
    font-size: 1rem;
  }
}

@media screen and (max-height:425px) and (orientation:landscape) {
  .home {
    flex-direction: row;
  }

  #nazarFigure {
    height: 100%;
    width: auto;
    flex: 3;
  }

  #navigation {
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  #navigation a {
    font-size: 16px;
    text-align: left;
  }
}
