* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration-line: none;
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.noselect {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

::selection {
  color: #000;
  background: #FFF500;
}

html {
  font-family: 'Montserrat', sans-serif;
  background: #000000;
  width: 100%;
  transition: left 2s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  padding: 0 16px;
  background: #000000;
  height: 64px;
  top: 0;
  position: sticky;
  z-index: 1;
  color: #ffffff;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#switcher {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin: 0 8px;
  height: 24px;
  width: 100%;
  background: #1C1C1C;
  clip-path: polygon(4px 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
}

#switcher span {
  height: 12px;
  width: 32px;
  background: #ffffff;
  clip-path: polygon(2px 0%, 100% 0%, calc(100% - 2px) 100%, 0% 100%);
  transition: all .4s;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 16px 16px 16px;
  height: auto;
  flex-shrink: 0;
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}

#about .photo {
  display: flex;
  order: 1;
  object-fit: scale-down;
  width: 100%;
  margin: 0 0 16px 0;
  filter: grayscale(100%);
  flex: 0;
  flex-shrink: 1;
}

#about .photo:hover {
  filter: grayscale(0%);
}

#about h1 {
  order: 2;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.75rem;
  color: white;
  margin-bottom: 8px;
  flex: 0;
  flex-shrink: 0;
  transition: width .25s linear;
  -o-transition: with .25s linear;
  -moz-transition: with .25s linear;
  -webkit-transition: with .25s linear;
}

#about h2 {
  order: 3;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: white;
  margin-bottom: 16px;
  flex: 0;
  flex-shrink: 0;
}

#about p {
  order: 4;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  color: white;
  margin-bottom: 16px;
  flex: 0;
  flex-shrink: 0;
}

#about ul {
  display: flex;
  flex-direction: column;
  order: 5;
  padding: 4px 0 16px 0;
  margin-bottom: 40px;
  width: 100%;
  flex: 1;
  flex-shrink: 0;
}

#about li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  height: 40px;
  background: #1C1C1C;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1rem;
  color: white;
}

#about li:not(:last-child) {
  margin-bottom: 12px;
}

#about li div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  width: 112px;
}

.fulldot {
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #444444;
  border-radius: 50%;
  display: inline-block;
}

#about a {
  display: flex;
  flex-direction: row;
  order: 6;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 100%;
  height: 40px;
  background: #FFF500;
  color: #000000;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  flex: 0;
  flex-shrink: 0;
}

#work {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0 16px 0;
  min-width: 344px;
  max-width: 520px;
  width: 100%;
  height: 1024px;
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}

.card {
  padding: 24px 32px;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1623716495270-48dd5004496e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.card:not(:last-child) {
  margin-bottom: 16px;
}

.card:hover {
  filter: grayscale(0%);
}

.card span {
  padding: 8px 12px;
  left: 32px;
  bottom: 24px;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
  background: #000000;
}

@media screen and (min-width: 660px) {
  body {
    flex-direction: row;
  }

  header {
    display: none;
  }

  #about {
    margin: 16px 16px 16px 16px;
    width: 248px;
  }

  #work {
    display: flex;
    margin: 16px 16px 16px 0;
    height: auto;
  }

  .card {
    height: 100%;
  }
}

@media screen and (min-width: 660px) and (min-height: 920px) {
  html, body {
    height: 100%;
  }

  #about ul {
    margin: 0;
  }
}
