#wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: block;
  position: absolute;
  width: 24px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.menu span {
  display: block;
  width: 24px;
  height: 4px;
  background: #ffffff;
  backface-visibility: hidden;
  margin: 5px 0;
  transition: .3s;
}

.menu-links {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #ffffff;
  list-style-type: none;
  align-items: center;
  justify-content: center;

}

.menu-links li {
  padding: 10px 0;
  align-self: center;
}

#wrapper.active .menu {
  display: flex;
  position: absolute;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
}

#wrapper.active .menu span {
  background: #000000;
  margin: 0;
}

/* Menu burger animation */
#wrapper.active .menu #one {
  position: absolute;
  transform: rotate(45deg);
}

#wrapper.active .menu #two {
  opacity: 0;
}

#wrapper.active .menu #three {
  position: absolute;
  transform: rotate(-45deg);
}

#wrapper.active .menu-links {
  display: flex;
  flex: auto;
}


.menu-link {
  color: #000000;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 10vw;
  text-decoration: none;
}
