* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
::selection {
  opacity: 0;
}

/* Header */

header {
  display: flex;
  height: 100px;
  margin: auto;
  z-index: 1;
}

.desktop-header {
  width: 60%;
  display: flex;
  margin: auto;
  align-items: center;
}

.right-container {
  display: flex;
  flex: 1;
}

.logo-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
}

.nav-container {
  flex: 1;
}

.nav-links {
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: center;
}

.nav-links li {
  display: flex;
  flex: 1;
  /* flex: auto;
  text-align: center; */
  margin: 0 30px;
}

.nav-link {
  color: #ffffff;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.langs {
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: flex-end;
}

.langs li {
  margin-left: 30px;
}

.lang {
  color: #ffffff;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.tablet-header {
  flex: auto;
  width: 100%;
  align-items: center;
  display: none;
}

#logo-light {
  position: absolute;
  z-index: 1;
}

#logo-dark {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

#wrapper {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.menu {
  display: block;
  position: absolute;
  width: 24px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.menu span {
  display: block;
  width: 24px;
  height: 4px;
  background: #ffffff;
  backface-visibility: hidden;
  margin: 5px 0;
  transition: .3s;
}

.menu-links {
  display: none;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #ffffff;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.menu-links li {
  padding: 10px 0;
  align-self: center;
}


#wrapper.active .menu {
  display: flex;
  position: absolute;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
}

#wrapper.active .menu span {
  background: #000000;
  margin: 0;
}

/* Menu burger animation */

#wrapper.active .menu #one {
  position: absolute;
  transform: rotate(45deg);
}

#wrapper.active .menu #two {
  opacity: 0;
}

#wrapper.active .menu #three {
  position: absolute;
  transform: rotate(-45deg);
}

#wrapper.active .menu-links {
  display: flex;
  flex: auto;
}

#wrapper.active #logo-light {
  opacity: 0;
}

#wrapper.active #logo-dark {
  opacity: 1;
}

.menu-link {
  color: #000000;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 36px;
  text-decoration: none;
}

/* Body */
body {
  width: 100%;
  background-color: #000000;
  font-family: 'Work Sans', sans-serif;
}



@media screen and (max-width:959px) {
  .desktop-header {
    display: none;
  }

  .tablet-header {
    display: flex;
  }

  @media only screen and (orientation: landscape) {
  #wrapper{
    justify-content: flex-start;
  }
  #logo-light, #logo-dark {
    margin-left: 30px;
    /* visibility: hidden; */
  }
  }
}
